@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
$color1: #C8DAE6;
$color2: white;
$color3: #B8B8B8;
$color4: #FFCD41;
$color5: #2092A9;



body {
    background-color: lighten($color1, 10%);
}

*, *:before, *:after {
  box-sizing: border-box;
}

.weather-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:  20px 5px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    width: 270px;
    height: 270px;
    background-color: $color2;
    box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
    animation: appear 500ms ease-out forwards;
    
    h1 {
        position: absolute;
        font-family: 'Lato', sans-serif;
        font-weight:300;
        font-size:80px;
        color: $color3;
        bottom: 0;
        left: 35px;
        opacity: 0;
        transform: translateX(150px);
        animation: title-appear 500ms ease-out 500ms forwards;
    }
    
    h2 {
        position: absolute;
        font-family: 'Lato', sans-serif;
        font-weight:300;
        font-size:28px;
        color: lighten($color3, 10%);
        bottom: 0;
        left: 35px;
        animation: title-appear 1s ease-out 500ms forwards;
    }
    button{
        cursor: pointer;
    }
    .weatherIcon{
        transform: translateX(80px);
        i{
            transform: scale(5);
           
          padding-top: 30px;
        }
      }
}

.error{
    color: red;
}

.weather-icon {
    position: relative;
    width: 50px;
    height: 50px;
    top: 0;
    float: right;
    margin: 40px 40px 0 0;
    animation: weather-icon-move 5s ease-in-out infinite;
}



@keyframes light {
    from {
        box-shadow: rgba(255,255,0,0.2) 0 0 0 10px;
    }
    to {
        box-shadow: rgba(255,255,0,0.2) 0 0 0 17px;
    }
}


@keyframes rain {
    from {
        box-shadow: 
        $color5 8px 0px,
		$color5 32px -6px, 
		$color5 20px 0px;
    }
    to {
        box-shadow: 
        $color5 8px 6px,
		$color5 32px 0px, 
		$color5 20px 6px;
    }
}

@keyframes weather-icon-move {
	50% { 
        transform: translateY(-8px); 
    }
}

.inspiration {
    margin-top: 80px;
    color: darken($color1, 25%);
    font-family: 'Lato', sans-serif;
    font-weight:300;
    font-size:24px;
    text-align: center;
    
    
    a {
        color: #FF8F8F;
        font-weight:400;
        animation: all 300ms ease-in-out;
    }
}

@keyframes appear {
  0% {
    transform:scale(0);
  }
  50% {
    transform:scale(1.05)
  }
  75% {
    transform:scale(0.95)
  }
  100% {
   transform:scale(1)
  }
}

@keyframes title-appear {
    from {
        opacity: 0;
        transform: translateX(150px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}



header{
    font-size: 2.5rem;
    width: 100%;
    display: flex;
    nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $color3;
        h1{
            font-family: 'Bebas Neue', cursive;
            text-transform: uppercase;
        }
        .error{
            font-family: 'Bebas Neue', cursive;
            color: red;
        }
    }
}
form{

    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    input{
        border-radius: 10px;
        box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
        border: none;
        outline: none;
        background-color: lighten($color1, 10%);
        padding: 10px;
    }
    ::placeholder{
        color: $color3;
        
    }
    button{
        padding: 10px;
        border: none;
        outline: none;
        background-color: lighten($color1, 10%);
        border-radius: 10px ;
        color: $color3;
    }
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    display: flex;
}
.box2{

    justify-content: space-between;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
    width: 100%;
    height: 450px;
    background-color: white;
    margin-top: 10px; 
    .container1{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        .d-flex{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 10px;
        }
    }

    .container2{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
      text-align: right;
    }
}
h2{
    font-family: 'Lato', sans-serif;
        font-weight:300;
        font-size:28px;
        color: lighten($color3, 10%);
}
